#!/usr/bin/env bash

### direnv ####################################################################
source_up
dotenv_if_exists

# env_vars_required AWS_PROFILE

### terraform #################################################################
export TF_DATA_DIR="$PWD/.terraform"
