[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~={{ cookiecutter.ansible_version }}"

[dev-packages]
ansible-lint = "*"
molecule = "<7.0.0,>=6.0.0"
molecule-qemu = "*"
pytest-testinfra = "<11.0.0,>=10.0.0"

[requires]
python_version = "3.11"
